---
import Map from '../components/Map.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>BetterPOTA - Parks on the Air</title>
  </head>
  <body>
    <div class="header">BetterPOTA – Parks on the Air</div>
    <Map />
  </body>
</html>

