---
import Map from '../components/Map.astro';
import RegionSelector from '../components/RegionSelector.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BetterPOTA - Parks on the Air Map</title>
		<style>
			/* Import global styles */
			@import '../styles/global.css';
		</style>
	</head>
	<body>
		<RegionSelector />
		<Map />
	</body>
</html>
