---
// Map component that initializes the Leaflet map
---

<!-- Map container -->
<div id="map"></div>

<!-- Load Leaflet and MarkerCluster CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />

<!-- Load scripts with proper sequencing -->
<script is:inline>
  // Load Leaflet first
  (function() {
    var script = document.createElement('script');
    script.src = 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.js';
    script.onload = function() {
      // After Leaflet loads, load MarkerCluster  
      var mcScript = document.createElement('script');
      mcScript.src = 'https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js';
      mcScript.onload = function() {
        // Finally load our map.js
        var mapScript = document.createElement('script');
        mapScript.src = '/betterpota/map.js';
        document.head.appendChild(mapScript);
      };
      document.head.appendChild(mcScript);
    };
    document.head.appendChild(script);
  })();
</script>